{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Coches {% endblock %}</h1>
        <table class="table table-striped">
            <th>
                <tr>
                    <th>ID</th>
                    <th>Modelo</th>
                    <th>id_marca</th>
                    <th>Año</th>
                    <th>Tipo_motor</th>
                    <th>Potencia</th>
                </tr>
            </th>
            <tbody>
                {% for coche in coches %}
                <tr>
                    <td>{{ coche['id'] }}</td>
                    <td>{{ coche['modelo'] }}</td>
                    <td>{{ coche['id_marca'] }}</td>
                    <td>{{ coche['anio'] }}</td>
                    <td>{{ coche['tipo_motor'] }}</td>
                    <td>{{ coche['potencia'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}